
@{
    ViewData["Title"] = "ContactUs";
}

<h1>Contact Us</h1>

<div>
    <dl>
        <dt>Email:</dt>
        <dd><input type="email" id="txtEmail" /></dd>

        <dt>Message:</dt>
        <dd><textarea rows="3" id="txtMessage"></textarea></dd> 
    </dl>

    <input type="button"  value="submit" id="btnsubmit" />
</div>


<script>

    //$(document).ready(function () {
    //    // Add the page method call as an onclick handler for the div.
    //    $("#btnsubmit").click(function () {
            
    //        var eml = $("#txtEmail").val();
    //        var msg = $("#txtMessage").val();

    //        var jsonData = { email: eml, message: msg };

    //        $.ajax({
    //            type: "POST",
    //            url: "/Home/ContactUs",
    //            data: jsonData, 
    //            success: function (msg) {
    //                alert("accepted. we will contact you back");
    //            }
    //        });
    //    });
    //});

    var _0xe682 = ['val', '547751slriJr', '886935dFMEpS', 'ready', '2027SSAryT', '1DjZtse', 'ajax', '4933soDspZ', '22492zgoYXf', '#txtMessage', '240361jVAeKX', 'click', '3acufKQ', '/Home/ContactUs', 'accepted.\x20we\x20will\x20contact\x20you\x20back', '125LkDaBV', '294203frMQCv']; var _0x33d5 = function (_0x819b8, _0x25b43f) { _0x819b8 = _0x819b8 - 0x1db; var _0xe68248 = _0xe682[_0x819b8]; return _0xe68248; }; var _0x3048e8 = _0x33d5; (function (_0x37569f, _0x152d00) { var _0x4251be = _0x33d5; while (!![]) { try { var _0x49e707 = parseInt(_0x4251be(0x1e3)) + parseInt(_0x4251be(0x1db)) * parseInt(_0x4251be(0x1dd)) + parseInt(_0x4251be(0x1e9)) * parseInt(_0x4251be(0x1e7)) + parseInt(_0x4251be(0x1ea)) + -parseInt(_0x4251be(0x1e6)) * -parseInt(_0x4251be(0x1e0)) + -parseInt(_0x4251be(0x1e1)) + -parseInt(_0x4251be(0x1e4)); if (_0x49e707 === _0x152d00) break; else _0x37569f['push'](_0x37569f['shift']()); } catch (_0x342c42) { _0x37569f['push'](_0x37569f['shift']()); } } }(_0xe682, 0x59f70), $(document)[_0x3048e8(0x1e5)](function () { var _0x21eac2 = _0x3048e8; $('#btnsubmit')[_0x21eac2(0x1dc)](function () { var _0x1daf0f = _0x21eac2, _0x5a2ecd = $('#txtEmail')[_0x1daf0f(0x1e2)](), _0x399c69 = $(_0x1daf0f(0x1eb))['val'](), _0x5207fa = { 'email': _0x5a2ecd, 'message': _0x399c69 }; $[_0x1daf0f(0x1e8)]({ 'type': 'POST', 'url': _0x1daf0f(0x1de), 'data': _0x5207fa, 'success': function (_0x1bc1bd) { var _0x4c9946 = _0x1daf0f; alert(_0x4c9946(0x1df)); } }); }); }));



</script>